/* no class */
body{
    margin: 0;
    padding: 0;
}
.noclass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
img{
    width: 40%;
}
.card{
    border: 2px solid gray;
    border-radius: 10px;
    margin: 20px;
    width: 22rem;
    box-shadow: 0 4px 8px 0 rgba(46, 46, 46, 0.2);
}
.classes a{
    
    text-decoration: none;
}
.card-subtitle{
    margin: 0;
}
.classes h5{
    margin: 0;
}
#texthov:hover{
    text-decoration: underline;
}
.classes #cardhov:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}
#card2{
    border-top: 1px solid rgb(211, 211, 211);
    height: 200px;
}
.cardtitledesc{
    color: black;
    text-decoration: none;
}
.classes{
    margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);

}
.assigclass{
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    border-top: 1px solid lightgray;
}
.iconuser{
    float: right;
    margin: 15px;
    width: 6%;
    color: black;
}
/* .mb-2{
    margin: 0;
} */
.iconuser:hover{
    color: gray;
}
.cardtitledesc:hover{
    color: black;
    text-decoration: underline;
}
.cbody{
    padding: 1rem 1rem;
}

@media (max-width:995px){
    .classes{
        
        align-items: center;
         margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;

    }
}

@media (max-width:783px){
    .classes{
        
        align-items: center;
         
        grid-template-columns: repeat(1, 1fr);
        gap: 0;

    }
}
@media (max-width: 560px){
   
    #card2{

      display: none;

    }

}
@media (max-width:450px){
    body{
        margin: 0;
    }
    .card{
       width: 21rem;
    }
    .classes{
        display: grid;
        align-items: center;
         margin: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;

    }
}