.form-label{
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}

.btn {
    width: 30%;
}

.err{
    color: red;
    font-size: 25px;
    padding-top: 20px;
    text-shadow: 1px 1px black;
}